*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
    width: 100vw;
    font-size: 20px;
    background-color: #f7f7f7;
    overflow-x: hidden;
}